section.projects {
    border: solid 1px black;
    background-color: #302B2B;
    color: white;
}

section.projects ul {
    list-style: none;
    width: 100px;
}

section.projects li {
    margin: 2px;
    width: 200px;
}

section.projects li:hover {
    font-size: 1.4em;
}