@(user: User)

@main("") {
<fieldset>
  <legend>Debug a new Project</legend>
  <form action="@routes.Application.signin()" method="POST">
    <label>give me its name: <input type="text" name="name" required /></label>
    <button>Create</button>
  </form>
</fieldset>

<fieldset>
  <legend>Debugged projects</legend>
  <ul>
  @user.debuggedProjects.map { project =>
     <li><a href="projects/@project.name">@project.name</a></li>
  }
  </ul>
</fieldset>

<fieldset>
  <legend>Debugging sessions</legend>
  <ul>
     <li><a href="">session #1</a></li>
     <li><a href="">session #2</a></li>
  </ul>
  <button>Start a new Session</button>
</fieldset>
}
