@(user: User)

<!--helper.javascriptRouter("jsRoutes")(
routes.javascript.Application.say
)-->

@main("") {
<div>
<button>Start</button>
<button>Stop</button>
</div>

<fieldset>
  <legend>Arriving logs</legend>
  <ul id="logs"></ul>

  <iframe src="/users/@user.pseudo/projects/db/NOWT!FY/start" style="display: none;">
  </iframe>
</fieldset>

<script>
  function trace(log) {
      console.log("receive a log: " + log);

      var projectName = _.template('<%= project %>');
      $('#logs').append('<li>'+projectName(data)+'</li>');
  }
</script>
}
