section.logs {
    color: white;
    background-color: #1E1B1B;
    border: solid 1px black;
}

section.logs fieldset {
    margin-top: 5px;
}

section.logs table {
    border: solid 1px grey;
}

section.logs th {
    border: solid 1px black;
    background-color: #951C1C;
}

section.logs td {
    border: solid 1px black;
    background-color: grey;
    padding: 10px;
}