nav.project {
    background-color: blue;
    border: solid 1px black;
}

section.logs {
    background-color: orange;
    border: solid 1px black;
}

section.logs table {
    border: solid 1px black;
}

section.logs th {
    border: solid 1px black;
    background-color: red;
}

section.logs td {
    border: solid 1px black;
}