@(project: models.Project)

@main(":: LOGIT ::") {
<nav class="project"><a href="/">Home</a> -> @project.name</nav>
<section class="logs">
<fieldset>
  <legend>Log entries</legend>
<table>
   @project.logs.map{ log =>
      <tr>
      @log.dataMap.filter(header => (header._1 != "_id" && header._1 != "project")).map { data =>
         <th>@data._1</th>
      }
      </tr>
      <tr>
      @log.dataMap.filter(header => (header._1 != "_id" && header._1 != "project")).map { data =>
         <td>@data._2</td>
      }
      </tr>
      <br/>
   }
</table>
</fieldset>
</section>
<script type="text/javascript">
  window.setTimeout(refreshProject("@project.name", 2000));
</script>
}
