@(project: models.Project)

@main(":: LOGIT ::") {
<nav class="project"><ul><li><a href="/">HOME</a></li><li>{ @project.name }</li></ul></nav>
<section class="logs">
<fieldset>
  <legend>Log entries</legend>
<table>
   @project.logs.map{ log =>
      <tr>
      @log.dataMap.filter(header => (header._1 != "_id" && header._1 != "project")).map { data =>
         <th>@data._1</th>
      }
      </tr>
      <tr>
      @log.dataMap.filter(header => (header._1 != "_id" && header._1 != "project")).map { data =>
         <td>@data._2</td>
      }
      </tr>
   }
</table>
</fieldset>
</section>
<script type="text/javascript">
  setInterval(refreshProject, 2000, "@project.name");
</script>
}
