@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>

        <!-- Underscore -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js"></script>

        <!-- JQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/public/javascripts/libs/jquery-1.7.1.min.js">\x3C/script>')</script>
    </head>
    <body>
    <header class="header">
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Monitoring</a></li>
        <li><a href="/users/sre/projects/db">Debugging</a></li>
        <li><a href="#">Profil</a></li>
      </ul>
    </header> 
    <section class="page">
        @content
    </section>
    <footer class="footer">
      <p>FOOTER</p>
    </footer>
    </body>
</html>
