@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
    </head>
    <body>
    <header class="header">
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Monitoring</a></li>
        <li><a href="/users/sre/projects/db">Debugging</a></li>
        <li><a href="#">Profil</a></li>
      </ul>
    </header> 
    <section class="page">
        @content
    </section>
    <footer class="footer">
      <p>FOOTER</p>
    </footer>
    </body>
</html>
